.App {
  text-align: center;
}

header {
  height: 48px;
  display: flex;
  z-index: 3;
  box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
  align-items: center;
}

main {
  flex: auto;
}

footer {
  margin-top: 20px;
  background: grey;
}

.buttonWrap {
  border: none;
  background-color: #0051e0;
  padding: 0;
  margin: 5px;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  align-items: center;
  box-sizing: border-box;
}

button {
  font-weight: 700;
  font-size: 14px;
  display: block;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 12px 0 12px;
  cursor: pointer;
  appearance: none;
  outline: none;
  background: none;
  border:none;
}